body {
  background-color: #000!important;
}

.App {
  text-align: center;
  color: #fff!important;
}

label {
  color: #fff;
}

.custom-btn {
  border: 1px solid #fff!important;
  background-color: #000!important;
  color: #fff;
}

.custom-btn:focus {
  box-shadow: none!important;
}

.form-control, .custom-select {
  background-color: #000!important;
  color: #fff!important; 
}

input:focus, select:focus {
  box-shadow: none!important;
  border-color: red!important;
}

.errorMsg {
  color: #cc0000;
  margin-bottom: 12px;
}
